@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body {
    background-color: #dddddd;
    margin: 0;
    padding: 0;
    font-family: 'EB Garamond', serif;
}

#wrap {
    width: 70%;
    margin: 0 auto;
    background-color: #fff;
    font-size: 100%;
}

header img {
    width: 100%;
}

header {
    padding: 40px;
    background-color: white;
}

nav {
    background-color: #007030;
    padding: 20px;
    text-align: center;
}

nav a {
    color: white;
    font-family: 'EB Garamond', serif;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 175%;
}

nav a:hover {
    background-color: #fee11a;
    color: #007030;
}

nav li {
    display: inline;
}

nav ul {
    margin: 0;
    padding: 0;
}

section {
    padding: 1% 4%;
    overflow: auto;
    font-size: 125%;
    text-align: center;
}

section h1,
section h2 {
    color: #007030;
    font-family: 'EB Garamond', serif;
    font-size: 125%;
    text-align: center;
}

footer {
    background-color: #007030;
    color: white;
    padding: 15px;
    text-align: center;
}

.uofologo {
    width: 30%;
    float: none;
}

.uofocampus {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.uofocampus iframe,
.uofocampus object,
.uofocampus embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.uofovideo {
    position: relative;
    padding-bottom: 56.25%;
    margin: 5%;
    height: 0;
    max-width: 100%;
}

.uofovideo iframe,
.uofovideo object,
.uofovideo embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
