body {
    margin: 0;
    padding: 0;
    background-color: white;
}

#wrap {
    margin: 0 auto;
    width: 70%;
    background-color: white;
}

figure {
    background-color: black;
    padding: 5px;
    margin: 10%;
    border: 1px solid white;
    float: left;
}

figure img {
    width: 100%;
}
